$container-padding: 12px;

.col-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
}
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
    width: 100%;
    padding-right: $container-padding;
    padding-left: $container-padding;
    margin-right: auto;
    margin-left: auto;

    @media (min-width: 576px) {
        max-width: 570px;
    }

    @media (min-width: 768px) {
        max-width: 720px;
    }

    @media (min-width: 992px) {
        max-width: 960px;
    }

    @media (min-width: 1200px) {
        max-width: 1132px;
    }
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -12px;
    margin-left: -12px;
}

.no-gutters {
    margin-right: 0;
    margin-left: 0;
}

.two-column-container {
    display: flex;
    width: 100%;
    flex-direction: column;
  
    @media (min-width: 992px) {
      /* lg breakpoint */
      flex-direction: row;
    }
  
  }