// Fonts Weight
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: bold;

//== Colors
//
//## Brand colors 

$primary-color: #001e5a;
$secondary-color: #d8921f;
$gold: #fbd243;
$green: #3e9d03;
$white: #ffffff;
$black: #000000;
$dark: #010101;
$black-2:#212121;
// Grays
$gray:#97a8a7;
$gray-2:#eee;
$menu-link-color: $black;


//== Scaffolding
//
//## Settings for some of the most global styles.

//** Background color for `<body>`.
$body-bg: $white;
$body-color: $dark;
$body-gradient: $dark;

//** Global text color on `<body>`.
$text-color: $white;

//== Typography
//
//## Font, line-height, and color for body text, headings, and more.

$font-family-sans-serif: 'Inter', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
$font-family-base: 'Gotham', sans-serif;

$smallest-font-size: pxToRem(10, 10);
$font-size-11: pxToRem(11, 10);
$font-size-12: pxToRem(12, 10);
$font-size-13: pxToRem(13, 10);
$font-size-14: pxToRem(14, 10);
$font-size-16: pxToRem(16, 10);
$font-size-18: pxToRem(18, 10);
$font-size-20: pxToRem(20, 10);
$font-size-24: pxToRem(24, 10);
$font-size-25: pxToRem(25, 10);
$font-size-30: pxToRem(30, 10);
$font-size-lg: pxToRem(16, 10);
$font-size-sm: pxToRem(14, 10);

// == heading font sizes
$h1-font-lg-size: pxToRem(42, 10);
$h2-font-lg-size: pxToRem(30, 10);
$h3-font-lg-size: pxToRem(24, 10);
$h4-font-lg-size: pxToRem(18, 10);
$h5-font-lg-size: pxToRem(16, 10);
$h6-font-lg-size: pxToRem(14, 10);

$headings-margin-bottom: pxToRem(15, 10);
$paragraph-margin-bottom: pxToRem(25, 10);
$paragraph-lg-margin-bottom: pxToRem(30, 10);